.bloc_page{
width: 100%;
font-family: 'Pacifico', cursive;
}

body{
background: url("http://data.nimages.fr/red2azk.png");
background-size: cover;
}



.connexion{
width: 350px;
height: 180px;
float: left;
border: 1px black;
text-align: center;
}
@media all and (max-device-width: 480px){
.connexion{
width: 100%;
}
}



.logo{
background: url("http://data.nimages.fr/joebarjhv.png");
background-size: cover;
width: 350px;
height: 200px;
float: right;
}
@media all and (max-device-width: 480px){
.logo{
width: 80px;
height: 60px;
}
}



.titre{
width: 800px;
background: url("http://data.nimages.fr/logohz5.jpg");
background-size: cover;
height: 115px;
margin: auto;
border-radius: 15px;
}
@media all and (max-device-width: 480px){
.titre{
width: 75%;
height: 35px;
}
}



h1{
text-align: center;
font-size: 2em;
width: 99%;
}
@media all and (max-device-width: 480px){
h1{
font-size: 1.2em;
}
}


h2{
text-align: center;
font-size: 1.2em;
font-family: 'Pacifico', cursive;
}



nav{
background: brown;
width: 13%;
height: auto;
padding-bottom: 1%;
float: left;
border-radius: 15px;
font-size: 1em;
text-align: center;
position: fixed;
list-style-type: none;
font-family: "Comic sans MS", serif;
}
@media all and (max-device-width: 480px){
nav{
width: 100%;
height: 360px;
float: none;
position:;
}
}



audio{
width: 200px;
margin: auto;
}
@media all and (max-device-width: 480px){
audio{
width: 80%;
}
}



article{
position: relative;
}





.logo, .connexion{
display: inline-block;
vertical-align: top;
border-radius: 15px;
position: abslotute;
}
@media all and (max-device-width: 480px){
.logo, .connexion{
display: block;
}
}




.actu1, .actu2, .actu3, .actu4, .actu5, .actu6, .actu7, .actu8, .actu9, .actu10,
.actu11, .actu12, .actu13, .actu14, .actu15, .actu16, .actu17, .actu18, .actu19, .actu20{
display: inline-block;
vertical-align: top;
border: 1px solid black;
border-radius: 15px;
width: 16%;
height: 350px;
margin-left: 5px;
margin-top: 5px;
}
@media all and (max-device-width: 480px){
.actu1, .actu2, .actu3, .actu4, .actu5, .actu6, .actu7, .actu8, .actu9, .actu10,
.actu11, .actu12, .actu13, .actu14, .actu15, .actu16, .actu17, .actu18, .actu19, .actu20{
display: block;
width: 87%;
margin: auto;
margin-top: 5px;
}
}



.actu1{
background: url("http://data.nimages.fr/16t4.jpg");
background-repeat: no-repeat;
}

.actu2{
background: url("http://data.nimages.fr/2zxk.jpg");
background-repeat: no-repeat;
}

.actu3{
background: url("http://data.nimages.fr/3q62.jpg");
background-repeat: no-repeat;
}

.actu4{
background: url("http://data.nimages.fr/4hgg.jpg");
background-repeat: no-repeat;
}

.actu5{
background: url("http://data.nimages.fr/5rxd.jpg");
background-repeat: no-repeat;
}

.actu6{
background: url("http://data.nimages.fr/6h7f.jpg");
background-repeat: no-repeat;
}

.actu7{
background: url("http://data.nimages.fr/7u77.jpg");
background-repeat: no-repeat;
}

.actu8{
background: url("http://data.nimages.fr/8diq.jpg");
background-repeat: no-repeat;
}

.actu9{
background: url("http://data.nimages.fr/9276.jpg");
background-repeat: no-repeat;
}

.actu10{
background: url("http://data.nimages.fr/10te4.jpg");
background-repeat: no-repeat;
}

.actu11{
background: url("http://data.nimages.fr/11rxl.jpg");
background-repeat: no-repeat;
}

.actu12{
background: url("http://data.nimages.fr/12j8c.jpg");
background-repeat: no-repeat;
}

.actu13{
background: url("http://data.nimages.fr/13ref.jpg");
background-repeat: no-repeat;
}

.actu14{
background: url("http://data.nimages.fr/14lc5.jpg");
background-repeat: no-repeat;
}

.actu15{
background: url("http://data.nimages.fr/15g6h.jpg");
background-repeat: no-repeat;
}

.actu16{
background: url("http://data.nimages.fr/165x3.jpg");
background-repeat: no-repeat;
}

.actu17{
background: url("http://data.nimages.fr/17gho.jpg");
background-repeat: no-repeat;
}

.actu18{
background: url("http://data.nimages.fr/18oz9.jpg");
background-repeat: no-repeat;
}

.actu19{
background: url("http://data.nimages.fr/1958c.jpg");
background-repeat: no-repeat;
}

.actu20{
background: url("http://data.nimages.fr/207ub.jpg");
background-repeat: no-repeat;
}




.actu1, .actu6, .actu11, .actu16{
margin-left: 16%;
}
@media all and (max-device-width: 480px){
.actu1, .actu6, .actu11, .actu16{
margin-left: 0;
margin: auto;
}
}



.descriptif{
width:100%;
color: black;
font-size: 0.9em;
text-align: justify;
font-family: 'Pacifico', "Comic sans MS", serif;
}

.descriptif2{
position: absolute;
bottom: 0;
width:100%;
color: black;
text-align: left;
margin-bottom: 0;
border-radius: 0 0 14px 14px;
font-size: .8em;
}

strong{
float: right;
font-size: 2em;
}

.info{
width: 99%;
height: 50px;
text-align: center;
}




#image1, #image2, #image3, #image4, #image5{
border: 1px solid black;
border-radius: 10px;
display: inline-block;
vertical-align: top;
width: 18%;
height: 200px;
margin-left: 20px;
}
@media all and (max-device-width: 480px){
#image1, #image2, #image3, #image4, #image5{
display: block;
width: 100%;
margin-left: 0;
margin-bottom: 20px;
}
}



#image1{
background: url("http://data.nimages.fr/moto1jfq.jpg");
background-size: cover;
}

#image2{
background: url("http://data.nimages.fr/moto269u.jpg");
background-size: cover;
}

#image3{
background: url("http://data.nimages.fr/moto3zps.jpg");
background-size: cover;
}

#image4{
background: url("http://data.nimages.fr/moto4eg2.jpg");
background-size: cover;
}

#image5{
background: url("http://data.nimages.fr/moto5tpu.jpg");
background-size: cover;
}
