.bloc_page{
width: 100%;
font-family: 'Pacifico', cursive;
}

body{
background: url("http://data.nimages.fr/red2azk.png");
background-size: cover;
}

.connexion{
width: 350px;
height: 180px;
float: left;
border: 1px black;
text-align: center;
}

.logo{
background: url("http://data.nimages.fr/joebarjhv.png");
background-size: cover;
width: 350px;
height: 200px;
float: right;
}

.titre{
width: 800px;
background: url("http://data.nimages.fr/logohz5.jpg");
background-size: cover;
height: 115px;
margin: auto;
border-radius: 15px;
}

h1{
text-align: center;
font-size: 2em;
width: 99%;
}

h2{
text-align: center;
font-size: 1.2em;
font-family: 'Pacifico', cursive, serif;
}

nav{
width: 250px;
height: 450px;
float: left;
border-radius: 15px;
font-size: 1em;
text-align: center;
}
audio{
width: 200px;
margin: auto;
}

.colonnedroite{
width: 250px;
height: 905px;
float: right;
}

.cd{
text-align: center;
list-style-type: disc;
list-style-position: inside;
}

li{
list-style-type: none;
}

article{
position: relative;
}

.actu1, .actu2, .actu3, .actu4, .colonnedroite, .actu5, .actu6, .actu7, .actu8, .logo, .connexion{
display: inline-block;
vertical-align: top;
background-size: cover;
border-radius: 15px;
position: abslotute;
}

.actu1, .actu2, .actu3, .actu4, .actu5, .actu6, .actu7, .actu8{
width: 36%;
height: 450px;
border-radius: 15px;
margin-left: 5px;
position: relative;
}

nav, .colonnedroite, .colonnegauche {
background: brown;
width: 13.4%;
border-radius: 15px;
list-style-type: none;
font-family: "Comic sans MS", serif;
}

.actu1{
width: 72%;
height: 200px;
margin-left: 5px;

}

.actu2{
background: url("http://data.nimages.fr/1bqg.jpg");
width: 25%;
height: 380px;
margin-left: 5px;
margin-top: 5px;
}

.colonnegauche{
height: 450px;
float: left;
}

.actu3{
background-repeat: no-repeat;
margin-top: 5px;
width: 47%;
height: 380px;
margin-left: 5px;
}

.img4, .img5 {
float: left;
border-radius: 15px;
}

.actu4{
margin-top: 5px;
width: 36%;
margin-left: 5px;
}


.actu5{
margin-top: 5px;
width: 36%;
margin-left: 5px;
}

.img6 , .img7{
float: right;
border-radius: 15px;
}

.actu6{
margin-top: 5px;
width: 45%;
}

.actu7{
margin-top: 5px;
width: 54%;
margin-left: 5px;
}


.descriptif{
width:100%;
color: black;
font-size: 0.9em;
text-align: justify;
padding-left: 7px;
font-family: 'Pacifico', "Comic sans MS", serif;
}

.descriptif2{
position: absolute;
bottom: 0;
width:100%;
color: black;
text-align: center;
margin-bottom: 0;
border-radius: 0 0 14px 14px;
font-size: .8em;
}

.info{
width: 99%;
height: 50px;
text-align: center;
}


#image1, #image2, #image3, #image4, #image5{
border: 1px solid black;
border-radius: 10px;
display: inline-block;
vertical-align: top;
width: 18%;
height: 200px;
margin-left: 20px;
}

#image1{
background: url("http://data.nimages.fr/moto1jfq.jpg");
background-size: cover;
}

#image2{
background: url("http://data.nimages.fr/moto269u.jpg");
background-size: cover;
}

#image3{
background: url("http://data.nimages.fr/moto3zps.jpg");
background-size: cover;
}

#image4{
background: url("http://data.nimages.fr/moto4eg2.jpg");
background-size: cover;
}

#image5{
background: url("http://data.nimages.fr/moto5tpu.jpg");
background-size: cover;
}
