.bloc_page{
width: 100%;
font-family: 'Pacifico', cursive;
}

body{
background: url("http://data.nimages.fr/red2azk.png");
background-size: cover;
}



.connexion{
width: 350px;
height: 180px;
float: left;
border: 1px black;
text-align: center;
}
@media all and (max-device-width: 480px){
.connexion{
width: 100%;
height: 180px;
}
}



.logo{
background: url("http://data.nimages.fr/joebarjhv.png");
background-size: cover;
width: 350px;
height: 200px;
float: right;
}
@media all and (max-device-width: 480px){
.logo{
width: 80px;
height: 60px;
}
}



.titre{
width: 800px;
background: url("http://data.nimages.fr/logohz5.jpg");
background-size: cover;
height: 115px;
margin: auto;
border-radius: 15px;
}
@media all and (max-device-width: 480px){
.titre{
width: 75%;
height: 35px;
}
}



h1{
text-align: center;
font-size: 2em;
width: 99%;
}
@media all and (max-device-width: 480px){
h1{
font-size: 1.2em;
}
}


h2{
text-align: center;
font-size: 1.2em;
font-family: 'Pacifico', cursive;
}



nav{
width: 13%;
height: auto;
padding-bottom: 1%;
float: left;
border-radius: 15px;
font-size: 1em;
text-align: center;
}
@media all and (max-device-width: 480px){
nav{
width: 100%;
height: 360px;
float: none;
}
}



audio{
width: 200px;
margin: auto;
}
@media all and (max-device-width: 480px){
audio{
width: 80%;
}
}


.colonnedroite{
width: 250px;
height: 905px;
float: right;
}
@media all and (max-device-width: 480px){
.colonnedroite{
width: 100%;
height: 705px;
float: none;
}
}


.cd{
text-align: center;
list-style-type: disc;
list-style-position: inside;
}

li{
list-style-type: none;
}

span{
color: blue;
}


.promo1, .promo2, .promo3, .promo4, .colonnedroite, .pneu1, .pneu2, .logo, .connexion{
display: inline-block;
vertical-align: top;
background-size: cover;
border-radius: 15px;
}
@media all and (max-device-width: 480px){
.promo1, .promo2, .promo3, .promo4, .colonnedroite, .pneu1, .pneu2, .logo, .connexion{
display: block;
}
}



.promo1, .promo2, .promo3, .promo4{
width: 36%;
height: 450px;
border: 1px solid black;
border-radius: 15px;
margin-left: 3px;
position: relative;
}
@media all and (max-device-width: 480px){
.promo1, .promo2, .promo3, .promo4{
width: 100%;
height: 250px;
}
}


nav, .colonnedroite, .colonnegauche {
background: brown;
width: 13.4%;
border-radius: 15px;
list-style-type: none;
font-family: "Comic sans MS", serif;
}
@media all and (max-device-width: 480px){
nav, .colonnedroite, .colonnegauche {
width: 100%;
}
}


.promo1{
background: url("http://data.nimages.fr/filtreairdrq.jpg");
background-size: cover;
}

.promo2{
background: url("http://data.nimages.fr/filtre8ta.jpg");
background-size: cover;
}



.colonnegauche{
height: 450px;
float: left;
}
@media all and (max-device-width: 480px){
.colonnegauche{
height: 230px;
float: none;
}
}


.promo3{
background: url("http://data.nimages.fr/bougie242l.jpg");
background-size: cover;
margin-top: 5px;
}

.promo4{
background: url("http://data.nimages.fr/batterieqrp.jpg");
margin-top: 5px;
}

.descriptif{
position: absolute;
bottom: 0;
width:100%;
background-color: black;
color: white;
text-align: center;
margin-bottom: 0;
border-radius: 0 0 14px 14px;
background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
font-family: "Comic sans MS", serif;
}

.info{
width: 99%;
height: 50px;
text-align: center;
}



.pneu1{
background: url("http://data.nimages.fr/pneu1ibr.png");
background-size: cover;
width: 49.8%;
height: 300px;
}
@media all and (max-device-width: 480px){
.pneu1{
width: 100%;
}
}


.pneu2{
background: url("http://data.nimages.fr/pneu252i.png");
background-size: cover;
width: 49.8%;
height: 300px;
}
@media all and (max-device-width: 480px){
.pneu2{
width: 100%;
}

}
#image1, #image2, #image3, #image4, #image5{
border: 1px solid black;
border-radius: 10px;
display: inline-block;
vertical-align: top;
width: 18%;
height: 200px;
margin-left: 20px;
}
@media all and (max-device-width: 480px){
#image1, #image2, #image3, #image4, #image5{
display: block;
width: 100%;
margin-left: 0;
margin-bottom: 20px;
}

}
#image1{
background: url("http://data.nimages.fr/moto1jfq.jpg");
background-size: cover;
}

#image2{
background: url("http://data.nimages.fr/moto269u.jpg");
background-size: cover;
}

#image3{
background: url("http://data.nimages.fr/moto3zps.jpg");
background-size: cover;
}

#image4{
background: url("http://data.nimages.fr/moto4eg2.jpg");
background-size: cover;
}

#image5{
background: url("http://data.nimages.fr/moto5tpu.jpg");
background-size: cover;
}
